@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Светлая тема по умолчанию */
:root {
  --background: #ffffff;
  --foreground: #213547;
  --primary: #646cff;
  --primary-hover: #535bf2;
}

/* Темная тема */
.dark {
  --background: #111827;
  --foreground: #f3f4f6;
  --primary: #818cf8;
  --primary-hover: #6366f1;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--background);
  color: var(--foreground);
  transition: background-color 0.3s, color 0.3s;
  
}

a {
  font-weight: 500;
  color: var(--primary);
  text-decoration: inherit;
}
a:hover {
  color: var(--primary-hover);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--background);
  color: var(--foreground);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--primary);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
